header {
    background-color: rgb(149, 149, 245);
    color: rgb(26, 26, 143);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    position: fixed;
    text-align: center;
    left: 10px;
    right: 10px;
    z-index: 1;
}

div {
    background-color: rgb(189, 194, 247);
    font-size: 20px;
    text-indent: 1.25cm;
    line-height: 150%;
    margin: 10px;
    border: 1px solid;
    border-radius: 2px;
    padding: 10px;
}

.center {
    display: block;
    height: 150px;
    padding: auto;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
}
aside {
    top: 0;
    left: 0;
    width: 200px;
    background-color: rgb(133, 156, 251);
    text-align:left;
    font-size: 15px;
    border: 1px;

}

a:hover {
    color: yellow;
}

a:active {
    color: blueviolet;
}

footer {
    background-image: linear-gradient(to bottom, white, rgb(30, 30, 188)) ;
    color: black;
    padding: 10px;
    font-size: 15px;
    text-align: justify;
}
