header {
    background-color: rgb(149, 149, 245);
    color: rgb(26, 26, 143);
    font-size: 30px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid;
    border-radius: 10px;
    position: fixed;
    text-align: center;
    left: 10px;
    right: 10px;
}

div {
    background-color: rgb(189, 194, 247);
    font-size: 20px;
    margin: auto;
}
.Istoria {
    background-color:rgb(189, 194, 247);
    border: 1px solid;
    border-radius: 5px;
    margin: 10px 2px;
    font-size: 20px;
}
.Osnovateli {
    background-color:rgb(189, 194, 247);
    border: 1px solid;
    border-radius: 5px;
    margin: 10px 2px;
    font-size: 20px;
}
.deat {
    background-color:rgb(189, 194, 247);
    border: 1px solid;
    border-radius: 5px;
    margin: 10px 2px;
    font-size: 20px;
}
.center {
    display: block;
    margin: 80px;
    height: 100px;
    padding: 10px;
}

.ssilki {
    background-color: rgb(189, 189, 250);
    font-size: 20px;
    text-align: justify;
    left: auto;
    top:auto;

}
a {
    color: aliceblue;
}
a:hover {
    color: yellow;
}
